name: "Run tests"

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest ]
        php: [ 8.2, 8.3 ]
        laravel: [ 11, 12 ]
        stability: [ prefer-lowest, prefer-stable ]
        exclude:
          - php: 8.1
            laravel: '12'


    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          tools: composer:v2
          coverage: pcov

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress --${{ matrix.stability }}

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover coverage/coverage.xml

      - name: Codeov
        if: ${{ github.actor != 'dependabot' }}
        uses: codecov/codecov-action@v4.6.0
        with:
          fail_ci_if_error: true
          files: coverage/coverage.xml
          name: codecov-report
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
